// COLORS
$primary-color: #536976; // #02aab0
$secondary-color: #292E49; // #00cdac

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #25345e; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
